<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConfigFolder" value=".\Config"/>
		<add key="WinCronJsonFile" value="WinCron.json"/>
		<add key="WinCaptFolder" value="%Videos%\Captures"/>
		<add key="WinCaptFormat" value="%Title% %Date:yyyy_MM_dd HH_mm_ss%_.png"/>
	</appSettings>
</configuration>
